<a href="#!/note/0">
    <span class="glyphicon glyphicon-file"
          ng-class="{active : $ctrl.isActive('notes')}"
          aria-hidden="true">
    </span>
</a>

<a href="#!/notebooks">
    <span class="glyphicon glyphicon-book"
          aria-hidden="true"
          ng-class="{active : $ctrl.isActive('notebooks')}">
    </span>
</a>

<a href="#!/favorites/">
    <span class="glyphicon glyphicon-star"
          aria-hidden="true"
          ng-class="{active : $ctrl.isActive('favorites')}" >
    </span>
</a>

<a>
    <span class="glyphicon glyphicon-cog"
          aria-hidden="true"
          ng-class="{active : $ctrl.isActive('settings')}"
          ng-click="$ctrl.setActive('settings')">
    </span>
</a>

<a>
    <span class="glyphicon glyphicon-upload"
          aria-hidden="true"
          ng-click="$ctrl.upload()">
    </span>
</a>
