body, #main-container, #main-container > div {
    height: 100vh;
}


#note-top-menu {
    height: 5vh;
}

#menu-side, #menu-side a {
    background-color: #303C50;
    color: #CCCCCC;
    display: block;
}

#menu-side button {
    border-style: none;
    outline: none;
}

#menu-side span {
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.25em;
}

#menu-side button:hover, #menu-side span:hover {
    background-color: #D65C66;
    color: #303C50;
}

#new_button {
    border: 3px solid #FDFDFD;
    background-color: #2E3848;
}

#new_button:hover {
    border: 3px solid #D65C66;
    color: #D65C66;
}

#item-side {
    background-color: #2E3848;
    color: #FDFDFD;
    height: 100vh;
}

#main {
    background-color: #1D2A37;
    color: #F0F0F0;
}

#note , #note > div {
    height: 95vh;
}

#note input {
    height: 5vh;
}

#note textarea {
    height: 85vh;
}

#note input, #note textarea {
    background-color: #1D2A37;
    border: none;
}

#note input:focus, #note textarea:focus {
    outline: none;
}

#item-side #item-side-head {
    padding-bottom: 1em;
}

#item-side .item:hover {
    background-color: #1D2430;
}

#item-side .item {
    padding-top: 1.3em;
    padding-bottom: 1.5em;
    border-top: 1px solid #FDFDFD;
    color: #FDFDFD;
}

#item-side .item.active {
    border: 2px solid #FDFDFD;
}

#item-side .item-title {
    font-weight: bold;
}

#item-side .item-date {
    margin-top: 0.5em;
    font-size: 0.9em;
}

#main-container > .row, #main-container > .row > div {
    height: 100vh;
}

#side, #side > div {
    height: 100vh;
}

#menu-side .active {
    color: #D65C66;
}

#main {
    height: 100vh;
}