<div id="item-side-head" class="row">
    <div class="col-xs-12">
        <h2>Notebooks</h2>
    </div>
</div>
<div ng-repeat="notebook in $ctrl.notebooks">
    <a href="#!/notebook/{{notebook.id}}">
        <div class="row item">
            <div class="col-xs-9">
                <div class="col-xs-12 item-title">{{ notebook.title }}</div>
                <!--<div class="col-xs-12 item-date">{{ notebook.created | date }}</div>-->
            </div>
            <div class="col-xs-3">
                <!--<button class="btn btn-danger" ng-click="$ctrl.deleteNote(notebook.id);"><span class="glyphicon glyphicon-trash"></span></button>-->
            </div>

        </div>
    </a>
</div>
